/* Slider */

    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

		.slick-list {
			position: relative;
			display: block;
			overflow: hidden;
			margin: 0 -0.75em;
		}

			.slick-list:focus {
				outline: none;
			}

		.slick-slider .slick-track,
		.slick-slider .slick-list {
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			-o-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		.slick-track {
			position: relative;
			top: 0;
			left: 0;
			display: block;
			margin-left: 0;
			margin-right: 0;
		}

			.slick-track:before,
			.slick-track:after {
				display: table;
				content: '';
			}

			.slick-track:after {
				clear: both;
			}

		.slick-slide {
			display: none;
			float: left;
			height: 100%;
			min-height: 1px;
			margin: 0 0.75em;
			padding: 0.75em 0;
		}
			
			/*.slick-slide.slick-current .image {
				transform: scale(1.075);
				border: solid 2px rgba(255, 255, 255, 0.9);
			}

				.slick-slide.slick-current .image img {
					border-radius: 0.5em;
					padding: 0.25em;
				}*/

			.slick-slide img {
				display: block;
			}

		.slick-initialized .slick-slide {
			display: block;
		}

		.slick-arrow.slick-hidden {
			display: none;
		}
		
		.slick-arrow {
			cursor: pointer !important;
		}

			.slick-arrow.slick-disabled {
				opacity: 0.5;
			}

		.slick-arrows ul.icons {
			margin: 0
		}

			.slick-arrows ul.icons li button {
				border: solid 1px rgba(255, 255, 255, 0.2);
			}
			
	#action .slick-list, #action .slick-slide {
		margin: 0;
	}
